<div class="flows-builder-container">
  <div class="flows-container">
    <div>
      <app-authentications-menu></app-authentications-menu>

      <mat-card
        [cdkDropListData]="flows"
        (cdkDropListDropped)="drop($event)"
        id="flowPanel"
        cdkDropList
      >
        <mat-card-header>
          <mat-card-title>{{ "MAIN.FLOWBUILDER.TITLE" | translate }}</mat-card-title>
        </mat-card-header>
        <mat-card cdkDrag *ngFor="let flow of flows" class="flow-container">
          <div class="flow-drag-placeholder" *cdkDragPlaceholder></div>
          <div class="flow-label">
            <mat-icon color="accent">account_tree</mat-icon>
            {{ "MAIN.FLOWBUILDER.FLOW" | translate }}: {{ flow.name }}
          </div>
          <app-flow [flow]="flow"></app-flow>
        </mat-card>
      </mat-card>
    </div>
    <app-integrations></app-integrations>
  </div>
</div>
