.flows-builder-container {

  background-color: #f5f5f5;
  padding: 50px;
  min-height: 100vh;

  .flows-container {
    display: flex;
    justify-content: space-between;
  }
}

#flowPanel {
  width: 700px;
  height: fit-content;

  mat-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;
  }

  .flow-container {
    margin-bottom: 20px;
    padding: 0;

    .flow-label {
      background-color: #6ca4cd;
      padding: 10px;
      border-radius: 4px 4px 0 0;
      display: flex;
      align-items: center;

      mat-icon {
        margin-right: 10px;
      }
    }
  }
}

.flow-drag-placeholder {
  width: 100%;
  height: 20px;
  border: 2px dashed palevioletred;
  border-radius: 5px;
}
