<form *ngIf="formGroup" [formGroup]="formGroup" autocomplete="off">
  <div *ngFor="let variable of flow.process.variables | inputVariables">
    <app-input-wrapper
      [variable]="variable"
      [formGroup]="formGroup"
      [options]="variable.meta.authType ? authentications : variable.schema.enum"
      [displayNameAccessor]="variable.meta.authType ? 'name' : null"
      [displayValueAccessor]="variable.meta.authType ? 'id' : null"
    ></app-input-wrapper>
  </div>
</form>
<mat-expansion-panel
  *ngIf="(flow.process.variables | outputVariables).length > 0"
>
  <mat-expansion-panel-header>
    <mat-panel-title> {{ "MAIN.FLOW.MORELABEL" | translate }} </mat-panel-title>
  </mat-expansion-panel-header>
  <div
    *ngFor="let variable of flow.process.variables | outputVariables"
    class="output"
  >
    {{ variable.meta.displayName || variable.name }}
  </div>
</mat-expansion-panel>
