:host form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  ::ng-deep {
    mat-form-field {
      padding: 10px 40px 20px;
    }
  }
}

mat-expansion-panel {
  margin-top: 20px;

  .output {
    font-style: italic;
    padding-bottom: 18px;
  }
}

