.landing-page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-image: url("../../../assets/images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  mat-card {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;

    mat-card-header {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }

    mat-card-content {
      display: flex;
      align-items: center;
      margin: 20px 0;

      .landing-page-form {
        width: 40%;
        padding: 20px;

        form {
          display: flex;
          flex-direction: column;
          align-items: center;

          .form-inputs mat-form-field {
            width: 100%;
          }

          .login-btn {
            width: 60%;
            margin-top: 30px;
          }
        }
      }
      img {
        width: 600px;
      }
    }
  }
}
::ng-deep .mat-menu-content {
  button span {
    margin-left: 10px;
  }
  padding: 0px !important;
}
