<div class="landing-page-content">
  <mat-card>
    <mat-card-header>
      <button
        mat-icon-button
        matSuffix
        type="button"
        [matMenuTriggerFor]="menu"
      >
        <mat-icon color="primary">language</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="useLanguage('en')">
          <img
            src="../../../assets/images/flags/en-flag.png"
            class="flag-image"
            alt="flag"
          /><span>English</span>
        </button>
        <button mat-menu-item (click)="useLanguage('bg')">
          <img
            src="../../../assets/images/flags/bg-flag.png"
            class="flag-image"
            alt="flag"
          /><span>Bulgarian</span>
        </button>
      </mat-menu>
    </mat-card-header>

    <mat-card-content>
      <div class="image">
        <img alt="background" src="./assets/images/background.png" />
      </div>
      <div class="landing-page-form">
        <form
          (ngSubmit)="onSubmit()"
          *ngIf="formGroup"
          [formGroup]="formGroup"
          autocomplete="off"
        >
          <h1>{{ "LOGIN.TITLE" | translate }}</h1>
          <div class="form-inputs">
            <mat-form-field>
              <mat-label>{{ "LOGIN.EMAILLABEL" | translate }}</mat-label>
              <input formControlName="email" matInput required />
              <mat-error *ngIf="formGroup.get('email')?.errors?.required">{{
                "LOGIN.REQUIREDEMAILERROR" | translate
              }}</mat-error>
              <mat-error *ngIf="formGroup.get('email')?.errors?.email">{{
                "LOGIN.INVALIDEMAILERROR" | translate
              }}</mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ "LOGIN.PASSWORDLABEL" | translate }}</mat-label>
              <input
                [type]="hidePassword ? 'password' : 'text'"
                formControlName="password"
                matInput
                required
              />
              <mat-error *ngIf="formGroup.get('password')?.errors?.required">{{
                "LOGIN.REQUIREDPASSWORDERROR" | translate
              }}</mat-error>
              <mat-error *ngIf="formGroup.get('password')?.errors?.minlength"
                >{{
                  "LOGIN.PASSWORDLENGTHERROR"
                    | translate
                      : {
                          count:
                            formGroup.get("password")?.errors?.minlength
                              .requiredLength
                        }
                }}
              </mat-error>
              <button
                (click)="hidePassword = !hidePassword"
                class="toggle-password-button"
                mat-icon-button
                matSuffix
                type="button"
              >
                <mat-icon>{{
                  hidePassword ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <button
            class="login-btn"
            color="primary"
            mat-raised-button
            tabindex="-1"
          >
            {{ "LOGIN.BUTTON" | translate }}
          </button>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>
