<form *ngIf="formAuthGroup" [formGroup]="formGroup" autocomplete="off">
  <mat-form-field>
    <input
      matInput
      [placeholder]="property.title"
      type="number"
      [formControlName]="propertyName"
      [required]="required"
    />
  </mat-form-field>
</form>
