<form *ngIf="formAuthGroup" [formGroup]="formGroup" autocomplete="off">
  <mat-form-field>
    <input
      matInput
      type="text"
      matInput
      [placeholder]="property.title"
      [formControlName]="propertyName"
      [required]="required"
    />
  </mat-form-field>
  <mat-error *ngIf="formAuthGroup.get('control')?.errors?.required">
    is required
  </mat-error>
</form>
