<form *ngIf="formGroup" [formGroup]="formGroup" autocomplete="off">
  <mat-form-field appearance="fill">
    <mat-label>{{ variable.meta.displayName || variable.meta.description }}</mat-label>
    <mat-select
      [formControlName]="variable.name"
      [required]="variable.required"
    >
      <mat-option
        *ngFor="let option of options"
        [value]="displayValueAccessor ? option[displayValueAccessor] : option"
      >
        {{ displayNameAccessor ? option[displayNameAccessor] : option }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
