<form *ngIf="formGroup" [formGroup]="formGroup" autocomplete="off">
  <mat-form-field>
    <input
      [matTooltip]="variable.meta.description || variable.meta.displayName"
      matInput
      [placeholder]="variable.meta.displayName || variable.name"
      type="text"
      [formControlName]="variable.name"
      [required]="variable.required"
    />
    <mat-hint>{{ variable.meta.displayName }}</mat-hint>
  </mat-form-field>
</form>
