<nav class="main-nav">
  <div class="nav-container">
    <img src="../../assets/images/logo.png" alt="logo" class="logo" />

    <div class="nav-content">
      <ul>
        <li [routerLink]="['flows']" routerLinkActive="active">
          <span>{{ "MAIN.NAV.WORKFLOWS" | translate }}</span>
        </li>
        <li [routerLink]="['authentications']" routerLinkActive="active">
          <span>{{ "MAIN.NAV.AUTHENTICATIONS" | translate }}</span>
        </li>
      </ul>

      <button
        mat-icon-button
        matSuffix
        type="button"
        [matMenuTriggerFor]="menu"
      >
        <mat-icon>language</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="useLanguage('en')">
          <img
            src="../../../assets/images/flags/en-flag.png"
            class="flag-image"
            alt="flag"
          /><span>English</span>
        </button>
        <button mat-menu-item (click)="useLanguage('bg')">
          <img
            src="../../../assets/images/flags/bg-flag.png"
            class="flag-image"
            alt="flag"
          /><span>Bulgarian</span>
        </button>
      </mat-menu>
      <div class="user-info" [matMenuTriggerFor]="userMenu">
        <mat-icon>person</mat-icon>
        <span class="username">

          {{ userName }}</span>
        <mat-icon>keyboard_arrow_down</mat-icon>
      </div>
      <mat-menu #userMenu="matMenu" yPosition="below" class="user-menu">
        <button mat-menu-item (click)="logOut()">
          <mat-icon>exit_to_app</mat-icon>
          <span>{{ "MAIN.NAV.LOGOUT" | translate }}</span>
        </button>
      </mat-menu>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
