.main-nav {
  background-image: url(../../assets/images/bg.jpg);
  background-size: cover;

  .nav-container {
    margin: 0 auto;
    padding: 10px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    color: #fff;

    .nav-content {
      display: flex;
      align-items: center;

      ul {
        list-style: none;
        display: flex;

        li {
          cursor: pointer;
          margin-right: 10px;
          padding: 5px;
          border: 1px solid transparent;

          &:hover {
            border-bottom: 1px solid white;
          }
        }
      }
      mat-icon {
        margin-right: 10px;
      }
    }

    .logo {
      width: 45px;
    }

    .user-info {
      display: flex;
      align-items: center;
      cursor: pointer;

    }
  }
}

::ng-deep .mat-menu-panel {
  min-height: 0px !important;
}

::ng-deep .mat-menu-content {
  button span {
    margin-left: 10px;
  }
  padding: 0px !important;
}
