<div cdkFocusRegionstart class="list-heading">
  <h1 mat-dialog-title>Authentications</h1>
  <button mat-icon-button color="primary" type="button" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <app-authentications-table></app-authentications-table>
</mat-dialog-content>
