<div class="delete-dialog-container">
  <div class="cancel-icon">
    <mat-icon [inline]="true" color="warn">cancel</mat-icon>
  </div>
  <p mat-dialog-title>
    {{
      "MAIN.AUTHENTICATIONS.DELETECONFIRMATION"
        | translate: { authentication: authentication.name }
    }}
  </p>
  <mat-dialog-actions align="end" cdkFocusRegionstart>
    <button mat-stroked-button (click)="onCancel()">
      {{ "MAIN.AUTHENTICATIONS.CANCEL" | translate }}
    </button>
    <button
      mat-stroked-button
      color="warn"
      (click)="onConfirmDelete(authentication)"
    >
    {{ "MAIN.AUTHENTICATIONS.CONFIRMDELETE" | translate }}
    </button>
  </mat-dialog-actions>
</div>
