<mat-form-field>
  <input
    matInput
    [placeholder]="'MAIN.AUTHENTICATIONS.FILTERPLACEHOLDER' | translate"
    (keyup)="applyFilter($any($event.target).value)"
    autocomplete="off"
  />
</mat-form-field>

<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="service">
    <th mat-header-cell *matHeaderCellDef>{{ "MAIN.AUTHENTICATIONS.TABLE.SERVICELABEL" | translate }}</th>
    <td mat-cell *matCellDef="let authentication">
      <img
        src="../../../../../assets/images/authentications-logos/slack-logo.jpg"
        alt="logo"
        class="logo"
        *ngIf="authentication.serviceName === 'Slack'"
      />
      <img
        src="../../../../../assets/images/authentications-logos/atlassian-logo.png"
        alt="logo"
        class="logo"
        *ngIf="authentication.serviceName === 'Atlassian'"
      />
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>{{ "MAIN.AUTHENTICATIONS.TABLE.NAMELABEL" | translate }}</th>
    <td mat-cell *matCellDef="let authentication">
      {{ authentication.name }}
    </td>
  </ng-container>

  <ng-container matColumnDef="created">
    <th mat-header-cell *matHeaderCellDef>{{ "MAIN.AUTHENTICATIONS.TABLE.CREATEDLABEL" | translate }}</th>
    <td mat-cell *matCellDef="let authentication">
      {{ authentication.created | date }}
    </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>{{ "MAIN.AUTHENTICATIONS.TABLE.DESCRIPTIONLABEL" | translate }}</th>
    <td mat-cell *matCellDef="let authentication">
      {{ authentication.description }}
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>{{ "MAIN.AUTHENTICATIONS.TABLE.ACTIONSLABEL" | translate }}</th>
    <td mat-cell *matCellDef="let authentication">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          (click)="editAuthentication(authentication, $event)"
        >
        {{ "MAIN.AUTHSMENU.EDITAUTH" | translate }}
        </button>
        <button mat-menu-item (click)="deleteAuthentication(authentication)">
          {{ "MAIN.AUTHSMENU.DELETEAUTH" | translate }}
        </button>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    class="tr-data"
  ></tr>
</table>
