<div class="auth-menu">
  <button
    mat-stroked-button
    color="primary"
    class="auth-btn"
    [matMenuTriggerFor]="authMenu"
  >
    <mat-icon>lock_open</mat-icon>
    <span>{{ "MAIN.AUTHSMENU.TITLE" | translate }}</span>
  </button>
  <mat-menu #authMenu="matMenu">
    <button mat-menu-item (click)="addAuthentication()">{{ "MAIN.AUTHSMENU.ADDAUTH" | translate }}</button>
    <button mat-menu-item (click)="openAuthentications($event)">
      {{ "MAIN.AUTHSMENU.AUTHSLIST" | translate }}
    </button>
  </mat-menu>
</div>
