<div class="authentications-container">
  <div class="add-auth-container">
    <button mat-button color="primary" (click)="addAuthentication()">
      <mat-icon>add</mat-icon>
      <span>{{ "MAIN.AUTHENTICATIONS.CREATEAUTHLABEL" | translate }}</span>
    </button>

  </div>
  <div class="data-table">
    <app-authentications-table></app-authentications-table>
  </div>
</div>
