.authentications-container {
  width: 90%;
  margin: 0 auto;
  padding-top: 30px;

  .add-auth-container {
    text-align: end;
    display: flex;

    button {
      position: fixed;
      right: 70px;
      margin-top: 20px;

      span {
        font-size: 16px;
      }
    }
  }
}
