.save-auth-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  h1 {
    margin-bottom: 0px;
  }
}

mat-dialog-content {
  display: flex;
  flex-direction: column;

  mat-form-field {
    margin-bottom: 20px;
  }

  .properties-container {
    border: 1px solid gray;
    padding: 20px;
  }
}
