<div cdkFocusRegionstart class="save-auth-heading">
  <h1 mat-dialog-title *ngIf="authentication.id">
    {{ "MAIN.AUTHENTICATIONS.EDITAUTHENTICATION" | translate }}
  </h1>
  <h1 mat-dialog-title *ngIf="!authentication.id">
    {{ "MAIN.AUTHENTICATIONS.ADDAUTHENTICATION" | translate }}
  </h1>
  <button mat-icon-button color="primary" type="button" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<form
  *ngIf="formGroup"
  [formGroup]="formGroup"
  (ngSubmit)="onSubmit()"
  autocomplete="off"
  class="technology-edit-form"
>
  <mat-dialog-content>
    <mat-form-field>
      <input
        [placeholder]="'MAIN.AUTHENTICATIONS.TABLE.NAMELABEL' | translate"
        matInput
        formControlName="name"
        required
        [readonly]="authentication.id > 0 ? true : false"
      />
      <mat-error *ngIf="formGroup.get('name')?.errors?.required"
        >Name is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        [placeholder]="
          'MAIN.AUTHENTICATIONS.TABLE.DESCRIPTIONLABEL' | translate
        "
        matInput
        formControlName="description"
        [readonly]="authentication.id > 0 ? true : false"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-select
        [placeholder]="'MAIN.AUTHENTICATIONS.TABLE.SERVICELABEL' | translate"
        required
        formControlName="serviceName"
        (selectionChange)="onChange($event)"
      >
        <mat-option
          *ngFor="let service of authSchemas"
          [value]="service.serviceName"
          >{{ service.serviceName }}</mat-option
        >
      </mat-select>
      <mat-error *ngIf="formGroup.get('service')?.errors?.required"
        >Service is required
      </mat-error>
    </mat-form-field>
    <div
      *ngIf="selectedAuthSchema && formGroup.controls.data"
      class="properties-container"
    >
      <div
        *ngFor="let property of selectedAuthSchema.schema.properties | keyvalue"
      >
        <app-auth-wrapper
          [property]="property.value"
          [propertyName]="property.key"
          [required]="selectedAuthSchema.schema.required.includes(property.key)"
          [formAuthGroup]="formGroup.controls.data"
        ></app-auth-wrapper>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end" cdkFocusRegionstart>
    <button mat-raised-button color="primary">
      {{ "MAIN.AUTHENTICATIONS.SAVEBUTTON" | translate }}
    </button>
  </mat-dialog-actions>
</form>
