<form *ngIf="formAuthGroup" [formGroup]="formGroup" autocomplete="off">
  <mat-form-field appearance="fill">
    <mat-label>{{propertyName}}</mat-label>
    <mat-select
      [formControlName]="propertyName"
      [required]="required"
    >
      <mat-option *ngFor="let enum of property.enum" [value]="enum">{{
        enum
      }}</mat-option>
    </mat-select>
  </mat-form-field>
</form>
