<mat-card
  id="integrationsList"
  class="integrations-list"
  *ngIf="currentSelectedFolder"
  [cdkDropListData]="currentSelectedFolder.children"
  cdkDropListConnectedTo="flowPanel"
  cdkDropList
>
  <div class="path-nav">
    <mat-icon (click)="goToPath(-1)">home</mat-icon>
    <span
      *ngFor="let path of currentFolderPath; let i = index"
      (click)="goToPath(i)"
    >
      / <label class="path-label">{{ path }}</label>
    </span>
  </div>

  <mat-card
    cdkDrag
    *ngFor="let child of currentSelectedFolder.children"
    [cdkDragDisabled]="child.children.length > 0 ? true : false"
    class="integration"
    (click)="selectFolder(child)"
  >
    <div class="flow-drag-placeholder" *cdkDragPlaceholder></div>
    <span class="dir-name">
      <mat-icon *ngIf="child.children.length > 0; else flowIcon" color="primary"
        >folder</mat-icon
      >
      <ng-template #flowIcon>
        <mat-icon color="accent">account_tree</mat-icon>
      </ng-template>
      {{ child.name }}
    </span>
    <mat-icon *ngIf="child.children.length > 0">keyboard_arrow_right</mat-icon>
  </mat-card>
</mat-card>
