.integrations-list {
  height: fit-content;
  width: 400px;

  .integration {
    display: flex;
    align-items: center;
    padding: 22px;
    margin-top: 20px;
    justify-content: space-between;
    cursor: pointer;

    .dir-name {
      display: flex;
      align-items: center;

      mat-icon {
        margin-right: 10px;
      }
    }
  }
  .path-nav {
    display: flex;
    align-items: center;

    mat-icon {
      padding-right: 5px;
      cursor: pointer;
    }

    .path-label {
      padding: 0 5px;
      font-weight: 600;
      cursor: pointer;
    }
  }

}

.flow-drag-placeholder {
  width: 100%;
  height: 20px;
  border: 2px dashed palevioletred;
  border-radius: 5px;
}
